@charset "UTF-8";
:root {
  --text-primary: #212121;
  --text-secondary: #757575;
  --theme-color: #2196F3;
  --primary-font: roboto,sans-serif;
  --primary-white-color: #ffffff;
  --icons-color: #AFB1B8;
  --bezier-time:250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--primary-font);
  color: var(--text-primary);
  background-color: var(--primary-white-color);
}

.conteiner {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
  padding: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1199px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .section__special {
    display: none;
  }
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-primary);
}

@media screen and (min-width: 1199px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.header {
  border-bottom: 1px solid #ECECEC;
  position: relative;
}

@media screen and (min-width: 768px) {
  .head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .head {
    padding: 16px 15px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__logo {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--theme-color);
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .nav__logo {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}

@media screen and (max-width: 1200px) {
  .nav__logo {
    margin-right: 88px;
  }
}

@media screen and (max-width: 767px) {
  .nav__logo {
    margin: 0;
  }
}

.nav__icon {
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .nav__icon {
    font-size: 26px;
    line-height: 1.12;
  }
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.nav__button {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: auto;
  fill: var(--text-primary);
  padding: 0;
  z-index: 22;
  border: none;
  background-color: transparent;
}

.nav__button:hover, .nav__button:focus {
  fill: var(--theme-color);
}

@media screen and (min-width: 768px) {
  .nav__button {
    display: none;
  }
}

.nav__button .nav__button-close {
  display: none;
}

.nav__button.is-open .nav__button-close {
  display: block;
}

.nav__button.is-open .nav__button-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobail-menu {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow-y: scroll;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #ffffff;
  }
}

.mobail-menu.is-open {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .mobail-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .nav-row {
    margin-bottom: 32px;
    display: block;
  }
}

.nav-row__item {
  position: relative;
}

.nav-row__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .nav-row__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.nav-row__list {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-decoration: none;
  color: var(--text-primary);
  letter-spacing: 0.02em;
  -webkit-transition: color var(--bezier-time);
  -o-transition: color var(--bezier-time);
  transition: color var(--bezier-time);
}

.nav-row__list:hover, .nav-row__list:focus {
  color: var(--theme-color);
}

@media screen and (min-width: 768px) {
  .nav-row__list {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.nav-row__list--activ {
  color: var(--theme-color);
  -webkit-transition: color var(--bezier-time);
  -o-transition: color var(--bezier-time);
  transition: color var(--bezier-time);
}

@media screen and (min-width: 768px) {
  .nav-row__list--activ::before {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: var(--theme-color);
    -webkit-border-radius: 2px;
            border-radius: 2px;
    height: 4px;
    display: inline-block;
    width: 100%;
  }
}

/* Ссылка на вебсайт,телефонный номер */
@media screen and (min-width: 768px) {
  .nav-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}

@media screen and (max-width: 1200px) {
  .nav-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 21px 0;
  }
}

.nav-box__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  color: var(--text-secondary);
  letter-spacing: 0.02em;
  -webkit-transition: color var(--bezier-time);
  -o-transition: color var(--bezier-time);
  transition: color var(--bezier-time);
}

.nav-box__list:hover, .nav-box__list:focus {
  color: var(--theme-color);
}

@media screen and (min-width: 768px) {
  .nav-box__list {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 1200px) {
  .nav-box__list {
    padding: 0;
    margin: 0 0 10px 0;
  }
}

.nav-box__svg {
  fill: var(--text-secondary);
  margin-right: 10px;
  -webkit-transition: fill var(--bezier-time);
  -o-transition: fill var(--bezier-time);
  transition: fill var(--bezier-time);
}

.nav-box__svg:hover, .nav-box__svg:focus {
  fill: var(--theme-color);
}

.nav-box__list:hover .nav-box__svg,
.nav-box__list:focus .nav-box__svg {
  fill: var(--theme-color);
  -webkit-transition: fill var(--bezier-time);
  -o-transition: fill var(--bezier-time);
  transition: fill var(--bezier-time);
}

@media screen and (max-width: 767px) {
  .nav-box__svg {
    display: none;
  }
}

.nav-box__list--phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  text-decoration: none;
  color: var(--text-secondary);
  letter-spacing: 0.02em;
  -webkit-transition: color var(--bezier-time);
  -o-transition: color var(--bezier-time);
  transition: color var(--bezier-time);
}

.nav-box__list--phone:hover, .nav-box__list--phone:focus {
  color: var(--theme-color);
}

@media screen and (max-width: 768px) {
  .nav-box__list--phone {
    color: var(--theme-color);
  }
}

@media screen and (min-width: 767px) {
  .nav-box__list--phone {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 1200px) {
  .nav-box__list--phone {
    padding: 0;
    -webkit-align-self: start;
        -ms-flex-item-align: start;
                -ms-grid-row-align: start;
            align-self: start;
  }
}

.nav-box__list--phone:hover .nav-box__svg,
.nav-box__list--phone:focus .nav-box__svg {
  fill: var(--theme-color);
  -webkit-transition: fill var(--bezier-time);
  -o-transition: fill var(--bezier-time);
  transition: fill var(--bezier-time);
}

.social-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 370px;
  text-decoration: none;
  margin-top: 64px;
}

@media screen and (min-width: 768px) {
  .social-links {
    display: none;
  }
}

.social-links__item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social-links__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--theme-color);
}

.hero {
  max-width: 1600px;
  margin: auto;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background: #C4C4C4;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/heromob@1x.jpg);
    background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/heromob@1x.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/heromob@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/heromob@1x.jpg);
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/heromob@2x.jpg);
    background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/heromob@2x.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/heromob@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/heromob@2x.jpg);
  }
}

@media screen and (max-width: 798px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/herotab.jpg);
    background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/herotab.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/herotab.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/herotab.jpg);
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/herotab@2x.jpg);
    background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/herotab@2x.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/herotab@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/herotab@2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/heroimg@1x.jpg);
    background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/heroimg@1x.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/heroimg@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/heroimg@1x.jpg);
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/heroimg@2x.jpg);
    background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/heroimg@2x.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/heroimg@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/heroimg@2x.jpg);
  }
}

.hero__title {
  text-align: center;
  margin: 0 auto 30px auto;
  font-weight: 900;
  color: var(--primary-white-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.62;
}

@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.hero__button {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  cursor: pointer;
  background: var(--theme-color);
  color: var(--primary-white-color);
  font-weight: bold;
  padding: 10px 32px;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  opacity: 1;
  -webkit-transition: opacity var(--bezier-time);
  -o-transition: opacity var(--bezier-time);
  transition: opacity var(--bezier-time);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hedden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
      -ms-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  -webkit-transition: -webkit-transform var(--bezier-time);
  transition: -webkit-transform var(--bezier-time);
  -o-transition: transform var(--bezier-time);
  transition: transform var(--bezier-time);
  transition: transform var(--bezier-time), -webkit-transform var(--bezier-time);
  background: var(--primary-white-color);
  -webkit-box-shadow: 4px;
          box-shadow: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

@media screen and (min-width: 600px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 600px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

@media screen and (max-width: 399px) {
  .modal {
    padding: 40px 15px;
    min-width: 320px;
  }
}

@media screen and (min-width: 600px) and (orientation: landscape) and (max-width: 915px) {
  .modal {
    top: 115%;
  }
}

@media screen and (min-width: 600px) and (orientation: landscape) and (max-width: 915px) and (min-width: 700px) {
  .modal {
    top: 90%;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.modal__btn-svg {
  fill: var(--text-primary);
}

.modal__btn-svg:hover, .modal__btn-svg:focus {
  fill: var(--theme-color);
}

.modal__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  display: block;
  color: var(--text-primary);
}

.form-modal__label {
  display: block;
  position: relative;
  margin-bottom: 10px;
  color: var(--text-secondary);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-modal__coment,
.form-modal__input {
  display: block;
  margin-top: 4px;
  padding: 11px 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transform: outline var(--bezier-time);
      -ms-transform: outline var(--bezier-time);
          transform: outline var(--bezier-time);
}

.form-modal__coment:focus,
.form-modal__input:focus {
  outline: 1px solid var(--theme-color);
}

.form-modal__coment:focus + svg,
.form-modal__input:focus + svg {
  fill: var(--theme-color);
}

.form-modal__coment {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  -webkit-transition: outline var(--bezier-time);
  -o-transition: outline var(--bezier-time);
  transition: outline var(--bezier-time);
  margin-bottom: 20px;
}

.form-modal__coment:focus {
  outline: 1px solid var(--theme-color);
}

.form-modal__coment::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__coment:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__coment::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__coment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__icon {
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  -webkit-transform: var(--bezier-time);
      -ms-transform: var(--bezier-time);
          transform: var(--bezier-time);
}

.modal-chek {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  cursor: pointer;
  color: var(--text-secondary);
}

@media screen and (min-width: 1200px) {
  .modal-chek {
    font-size: 14px;
    line-height: 1.7;
  }
}

.modal-chek a {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration-skip-ink: none;
  color: var(--theme-color);
}

@media screen and (min-width: 1200px) {
  .modal-chek a {
    font-size: 14px;
    line-height: 1.7;
  }
}

.modal-chek__ikon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  -webkit-transform: checked var(--bezier-time);
      -ms-transform: checked var(--bezier-time);
          transform: checked var(--bezier-time);
  border: 2px solid var(--text-primary);
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.modal-chek__box:checked + .modal-chek__ikon {
  background-color: var(--theme-color);
  -webkit-background-origin: border-box;
          background-origin: border-box;
  -webkit-background-size: contain;
          background-size: contain;
  border-color: transparent;
}

.modal-chek__box {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal-chek__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 42px;
  width: 200px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  cursor: pointer;
  background: #188CE8;
  color: var(--primary-white-color);
  font-weight: bold;
  padding: 10px 55px;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.peculiarites__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .peculiarites__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.peculiarites__svg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: #F5F4FA;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .peculiarites__box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: -15px;
  }
  .peculiarites__item {
    width: -webkit-calc((100% - 60px)/2);
    width: calc((100% - 60px)/2);
    margin: 15px;
  }
  .peculiarites__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .peculiarites {
    padding-bottom: 0;
  }
  .peculiarites__item {
    width: -webkit-calc((100% - 120px)/4);
    width: calc((100% - 120px)/4);
  }
}

.peculiarites__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-secondary);
}

.work__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.work__box {
  position: relative;
}

.work__box:not(:last-child) {
  margin-right: 30px;
}

.work__text {
  font-style: normal;
  font-weight: bold;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.work__shedow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.section--command {
  background: #f5f4fa;
}

.command__container {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .command__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: -15px;
  }
}

.command__box {
  text-align: center;
  background: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0px 0px 4px 4px;
          border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .command__box:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .command__box {
    width: -webkit-calc((100% - 60px)/2);
    width: calc((100% - 60px)/2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .command__box {
    width: -webkit-calc((100% - 120px)/4);
    width: calc((100% - 120px)/4);
  }
}

.command-column {
  padding: 30px 32px;
}

.command-column__title {
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-primary);
}

.command-column__profesion {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--text-secondary);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.command-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.command-social__item {
  width: 44px;
  height: 44px;
}

.command-social__item:not(:last-child) {
  margin-right: 10px;
}

.command-social__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color var(--bezier-time);
  -o-transition: background-color var(--bezier-time);
  transition: background-color var(--bezier-time);
}

.command-social__list:hover, .command-social__list:focus {
  background-color: var(--theme-color);
}

.command-social__list:hover .command-social__svg,
.command-social__list:focus .command-social__svg {
  fill: var(--primary-white-color);
  -webkit-transition: var(--bezier-time);
  -o-transition: var(--bezier-time);
  transition: var(--bezier-time);
}

.command-social__svg {
  fill: var(--icons-color);
  margin: 0;
}

.clients {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: -15px;
}

.clients__box {
  width: -webkit-calc((100% - 60px)/2);
  width: calc((100% - 60px)/2);
  height: 92px;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients__box {
    width: -webkit-calc((100% - 90px)/3);
    width: calc((100% - 90px)/3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__box {
    width: -webkit-calc((100% - 180px)/6);
    width: calc((100% - 180px)/6);
  }
}

.clients__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 32px;
  list-style: none;
  -webkit-transition: border var(--bezier-time);
  -o-transition: border var(--bezier-time);
  transition: border var(--bezier-time);
  border: 1px solid var(--icons-color);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.clients__list:hover, .clients__list:focus {
  border: 1px solid var(--theme-color);
}

.clients__list:hover .clients__svg,
.clients__list:focus .clients__svg {
  fill: var(--theme-color);
}

.clients__svg {
  fill: var(--icons-color);
  -webkit-transition: fill var(--bezier-time);
  -o-transition: fill var(--bezier-time);
  transition: fill var(--bezier-time);
}

.conteiner__foot {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (max-width: 1199px) {
  .conteiner__foot {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .conteiner__foot {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner__foot {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: normal;
    -webkit-justify-content: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2F303A;
}

.nav__icon--color {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .nav__icon--color {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (max-width: 1199px) {
  .address {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    margin-right: 70px;
  }
}

.address .nav__logo {
  margin: 0;
}

.address__list {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  display: block;
  margin-bottom: 9px;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address__list--phone {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  display: block;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

/* футер соц.сети */
.social {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .social {
    margin-right: 93px;
    padding-top: 12px;
    margin-bottom: 0;
  }
}

.social__title {
  font-family: Roboto;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.social-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-content__icon {
  width: 44px;
  height: 44px;
}

.social-content__icon:not(:last-child) {
  margin-right: 10px;
}

.social-content__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--bezier-time);
  -o-transition: background-color var(--bezier-time);
  transition: background-color var(--bezier-time);
}

.social-content__list:hover, .social-content__list:focus {
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .social-content__list {
    margin-right: 93px;
  }
}

.social-content__svg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--primary-white-color);
  margin: 0;
}

/* Подписаться */
@media screen and (min-width: 768px) {
  .form {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 358px;
  }
}

.form__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.form-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1200px) {
  .form-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .form-box {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: normal;
    -webkit-justify-content: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    width: 358px;
  }
}

.form-box__input {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-right: 12px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.form-box__input::-webkit-input-placeholder {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-box__input:-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-box__input::-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-box__input::placeholder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-box__input:focus {
  color: var(--primary-white-color);
}

@media screen and (min-width: 768px) {
  .form-box__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form-box__input {
    width: 358px;
    margin-right: 12px;
  }
}

@media screen and (max-width: 1199px) {
  .form-box__input {
    margin-bottom: 20px;
  }
}

.form__submit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px 28px 10px 29px;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-white-color);
}

.form__submit-icon {
  background-color: var(--theme-color);
  color: var(--primary-white-color);
  margin-left: 10px;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: 0;
}

.button__list {
  margin-bottom: 15px;
  margin-right: 15px;
}

.button__list:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.button__list:nth-child(2n) {
  margin-right: 0;
}

@media screen and (min-width: 384px) {
  .button__list:nth-child(2n) {
    margin-right: 8px;
  }
  .button__list:nth-child(3n) {
    margin-right: 0;
  }
  .button__list:nth-last-child(2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .button__list:not(:last-child) {
    margin-bottom: 0;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .button {
    margin-bottom: 50px;
  }
}

.button__item {
  display: inline-block;
  font-family: Roboto;
  background: #F5F4FA;
  padding: 6px 22px;
  border: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-primary);
  cursor: pointer;
  -webkit-transition: var(--bezier-time);
  -o-transition: var(--bezier-time);
  transition: var(--bezier-time);
}

.button__item:hover, .button__item:focus {
  background: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--primary-white-color);
}

@media screen and (min-width: 768px) {
  .galery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: -15px;
  }
}

.galery__card {
  border: 1px solid #EEEEEE;
}

@media screen and (max-width: 767px) {
  .galery__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .galery__card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-calc((100% - 60px)/2);
    width: calc((100% - 60px)/2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .galery__card {
    width: -webkit-calc((100% - 90px)/3);
    width: calc((100% - 90px)/3);
  }
}

.galery__item {
  display: block;
  -webkit-transition: var(--bezier-time);
  -o-transition: var(--bezier-time);
  transition: var(--bezier-time);
  text-decoration: none;
}

.galery__item:hover, .galery__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.galery-caption {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.galery-caption__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  color: var(--text-primary);
}

.galery-caption__text {
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--text-secondary);
}

.galery-overlay {
  position: relative;
  overflow: hidden;
}

.galery-overlay__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  margin: 0;
  -webkit-transform: translateY(101%);
      -ms-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform var(--bezier-time);
  transition: -webkit-transform var(--bezier-time);
  -o-transition: transform var(--bezier-time);
  transition: transform var(--bezier-time);
  transition: transform var(--bezier-time), -webkit-transform var(--bezier-time);
  background: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
}

.galery-overlay__text:hover, .galery-overlay__text:focus {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.galery__item:hover .galery-overlay__text,
.galery__item:focus .galery-overlay__text {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  overflow: visible;
}

@media screen and (max-width: 399px) {
  .galery-overlay__text {
    font-size: 14px;
  }
}
/*# sourceMappingURL=main.css.map */