.clients{

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__box{

    width: calc((100% - 60px)/2);
    height: 92px;
    margin: 15px;

    @media screen and (min-width: 768px) {
      width: calc((100% - 90px)/3);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 180px)/6);
    }
  }

.clients__list{
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 16px 32px;
  list-style: none;
  transition: border var(--bezier-time);
  border: 1px solid var(--icons-color);
  border-radius: 4px;
&:hover,
&:focus{
  border: 1px solid var(--theme-color);}
  
&:hover .clients__svg,
&:focus .clients__svg{
  fill: var(--theme-color);} 
}
.clients__svg{
  fill: var(--icons-color);
  transition: fill var(--bezier-time);
}
