.header{
border-bottom: 1px solid #ECECEC;
position: relative;


  }
.nav__logo{
  margin-top: 0;
  margin-bottom: 0;
  
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;    
  color: var(--theme-color);
  text-decoration: none;
  
 @media screen and (max-width: 787px){
padding: 15px 16px;



 }
  @media screen and (min-width: 1200px){
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}

.nav__icon{
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.12;
  letter-spacing: 0.03em;    
  color: #000000;
  text-decoration: none;
}

.nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;

    

}
// навигация мобильного меню

.nav__button{
  position: absolute;
  top: 10px;
  right: 15px;
  margin: 10px;
  padding: 0;
  z-index: 20;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px){
    display: none;
  }
}

.nav__button .nav__button-close{
  display: none;
}

.nav__button.is-open .nav__button-close{
  display: block;
}

.nav__button.is-open .nav__button-menu{
  display: none;
}

.mobail-menu{
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;
   
    overflow-y: scroll;

    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;

    
    background-color: #ffffff;
  
 }

@media screen and (max-width: 767px){
  display: none;
     
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

&.is-open{
  display: block;}
}

@media screen and (min-width: 768px){
  display: flex;
  flex-grow: 1;
  justify-content: space-between;}

}



// Навигация на другие страницы 


.nav-row{
  display: flex;
  margin: 0;
  @media screen and (max-width: 767px){
    margin-bottom: 32px;
    display: block;
  }

}
.nav-row__item{
  // margin-right: 50px;
  position: relative;  

&:not(:last-child){
  margin-bottom: 32px;}
@media screen and (min-width: 768px){
&:not(:last-child) {
  margin-bottom: 0;
  margin-right: 50px;}
  }   
}

.nav-row__list{
 display: block;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-decoration: none;
  color: var(--text-primary);
  letter-spacing: 0.02em;
  transition: color var(--bezier-time);
&:hover,
&:focus{
  color: var(--theme-color);}

@media screen and (min-width: 768px){
  padding-top: 32px;
  padding-bottom: 32px;
      
  font-size: 14px;
  line-height: 1.14;}
   
}

.nav-row__list--activ{
  color: var(--theme-color);
  transition: color var(--bezier-time);

@media screen and (min-width: 768px){
 
&::before{
  content: "";
  position: absolute;
  bottom: 0;
  background-color: var(--theme-color);
  border-radius: 2px;
  height: 4px;
  display: inline-block;
  width: 100%;}
  }
}

/* Ссылка на вебсайт,телефонный номер */


.nav-box{

  @media screen and (min-width: 768px){
    display: flex;
    align-items: center;
    margin-left: auto;
    
  }
}

.nav-box__list{
  display: flex;
  align-items: center;
  margin-right: 30px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  color: var(--text-secondary);
  letter-spacing: 0.02em;
  transition: color var(--bezier-time);

&:hover,
&:focus{
  color: var(--theme-color);}

  @media screen and (min-width: 768px){
  padding-top: 32px;
  padding-bottom: 32px;
      
  font-size: 14px;
  line-height: 1.14;}
}
 

.nav-box__svg{
  fill: var(--text-secondary);
  margin-right: 10px;
  transition: fill var(--bezier-time);
  
&:hover,
&:focus{
  fill: var(--theme-color);}

.nav-box__list:hover &,
.nav-box__list:focus &{
  fill: var(--theme-color);
  transition: fill var(--bezier-time);}

 @media screen and (max-width: 767px){
   display: none;
 }
 
}
.nav-box__list--phone{
  display: flex;
  align-items: center;
  margin-top: 302px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;

  text-decoration: none;
  color: var(--theme-color);
  letter-spacing: 0.02em;
  transition: color var(--bezier-time);

&:hover,
&:focus{
  color: var(--theme-color);}

@media screen and (min-width: 767px){
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 0;
  margin-bottom: 0;    
  font-size: 14px;
  line-height: 1.14;}
  color: var(--text-secondary);  

&:hover .nav-box__svg,
&:focus .nav-box__svg{
  fill: var(--theme-color);
  transition: fill var(--bezier-time);}
}

.social-links{
  display: flex;
  justify-content: space-between;
  width: 370px;
  text-decoration: none;
  margin-top: 64px;
  
  @media screen and (min-width: 768px){
    display: none;
  }
  
&__item:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

&__link{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--theme-color);
  }
}