.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--bezier-time);

&.is-hidden{
  opacity: 0;
  pointer-events: none;
  visibility: hidden;}

&.is-hedden .modal{
 transform: translate(-50%, -50%) scale(1.1);}
}
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%,-50%) scale(1);
  padding: 40px;
  transition: transform  var(--bezier-time);
  
  background: var(--primary-white-color);
  box-shadow: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px
   rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__btn{
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal__btn-svg{
  fill: var(--text-primary);

&:hover,
&:focus{
  fill: var(--theme-color);}
}
.modal__title{
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  display: block;
  color: var(--text-primary);
}

.form-modal__label{
  display: block;
  position: relative;
  margin-bottom: 10px;
  color: var(--text-secondary);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form-modal__coment,
.form-modal__input{
  display: block;
  margin-top: 4px;
  padding: 11px 42px;
  width: 100%;
  
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transform: outline var(--bezier-time);

&:focus{
  outline: 1px solid var(--theme-color);
}
&:focus + svg{
  fill: var(--theme-color);}
}

.form-modal__coment{
  resize: none;
  height: 120px;
  padding: 12px 16px;
  transition: outline var(--bezier-time);
  margin-bottom: 20px;

&:focus{
  outline: 1px solid var(--theme-color);}

&::placeholder{
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);}
}
.form-modal__icon{
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: var(--bezier-time);
}

.modal-chek{
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  cursor: pointer;
  color: var(--text-secondary);
}
.modal-chek a{
  text-decoration-skip-ink: none;
  color: var(--theme-color);
}
.modal-chek__ikon{
 display: flex;
 align-items: center;
 width: 16px; 
 height: 15px;
 margin-right: 8px;
 transform: checked var(--bezier-time) ;
 border: 2px solid var(--text-primary);
 border-radius: 2px;

.modal-chek__box:checked + &{
  
  background-color: var(--theme-color);
  background-origin: border-box;
  background-size: contain;
  border-color: transparent;}
}

.modal-chek__box{
  appearance: none;
}

.modal-chek__btn{
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 42px;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
  background: #188CE8;
  color: var(--primary-white-color);
  font-weight: bold;
  padding: 10px 55px;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}