
// Кнопки

.button{
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.button__list:not(:last-child){
  margin-right: 8px;
}
.button__item{
  display: inline-block;
  font-family: Roboto;    
  background: #F5F4FA;

  padding: 6px 22px;
  border: none;
  border-radius: 4px;    
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-primary);
  cursor: pointer;
  transition: var(--bezier-time);    

&:hover,
&:focus{
  background: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--primary-white-color);}

}

// Галерея

.galery{
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.galery__card{
  width: 370px;
  
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
  
&:nth-child(3n){
  margin-right: 0;}
&:nth-last-child(-n+3){
 margin-bottom: 0;}
}

.galery__item{
  display: block;
  width: 370px;
  transition: var(--bezier-time);
  text-decoration: none;

&:hover,
&:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px 
  rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);}
  

}
.galery-caption{
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;

}
.galery-caption__title{
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  color: var(--text-primary);


}
.galery-caption__text{
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--text-secondary);
}

.galery-overlay{
  position: relative;
  overflow: hidden;
  display: flex;
}

.galery-overlay__text{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  margin: 0;
  transform: translateY(101%); 
  transition: transform  var(--bezier-time);
  background: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);

&:hover, 
&:focus{
  transform: translateY(0);}

.galery__item:hover &,
.galery__item:focus &{
  transform: translateY(0);
  overflow: visible;}
}
